/**
 * Tag cloud widget
 */
.elementor-widget-wp-widget-woocommerce_product_tag_cloud,
.widget_product_tag_cloud {
	.tagcloud {
		margin-right: -8px;
		
		a {
			display: inline-block;
			vertical-align: top;
			margin-bottom: 10px;
			margin-right: 6px;
			padding: 8px 17px 7px;
			font-weight: 400;
			text-transform: uppercase;
			line-height: 21px;
			font-size: 14px !important;
			border: 0;
			border-radius: 3px;
			background-color: #f3f3f9;
		}
	}
}